{% extends 'base.html' %}

{% block content %}
    {% if data.thumbnail %}
    <img src = "{{data.thumbnail.url}}" alt = "thumbnail" width = '300px' height="300px"/>
    {% endif %}
    <div id = 'model_number' style ='display: none;' >{{data.id}}</div>
    <div>{{data.model_number}}</div>
    <br/>
    <div>{{data.brand}}</div>
    <br/><br/>  
    <div>{{data.price}}</div>
    <br/>
    <br/>
    <div>{{data.retail_date}}</div>
    <br/>
    <br/>
    <div>{{data.sneaker_name}}</div>
    <div>
        <form>
            {%csrf_token%}
            <input type = 'text' class = 'comment' id = 'comment' accept-charset="UTF-8" onkeypress="if(event.keyCode == 13) comments();"
                            placeholder=" 이건 어때 ??"/>
        </form>
        <div>댓글 리스트</div>
        {% for comment in comments %}
            <div><label> 닉네임 : {{comment.user_id.nickname}}</label>
               <span> 댓글 : {{comment.comment}}</span></div>
            <br/>
        {% endfor %}
    </div>
    <script>

        function comments(){
            
            var comment = document.getElementById('comment').value;
            var b_id = document.getElementById('model_number').innerText;

            commentDic = {
                'board_id': b_id,
                'comment' : comment
            };

            $.ajax({
                type:'POST',
                url:'comment',
                contentType : 'application/json; charset:UTF-8',
                data : JSON.stringify(commentDic),

                success : function(res){
                    if(res['result'] == 'ok'){
                        location.reload();
                    }
                    else{
                        alert('로그인을 하십시오.');
                        location.href = "{% url 'rotten:login'%}";
                    }
                }
            })
        }
    </script>
{% endblock %}